<<<<<<< HEAD
﻿.test {
    color: red;
}

#add-to-discord {
    margin-bottom: 10px;
    
}

#title-margin {
    margin-bottom: 30px;
=======
﻿.myDiv {
  color: #E5E5E5;
  background-color: #1C0737;    
>>>>>>> a653ce17e31c6c38c52ca2de4e7d2522eb7c77be
}