@page
@model IndexModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "CanvasBot";
=======
    ViewData["Title"] = "CanvasBot3000";
>>>>>>> 03f003bd36b885aef1a0839ec260e33e791574b8
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="container">
        <div class="row justify-content-center">
            <row>
                <button type="button" class="btn btn-primary">Add to server</button>
                <button type="button" class="btn btn-secondary">Join our server</button>
            </row>
            
        </div>
    </div>
</div>
