@page
@model IndexModel
@{
    ViewData["Title"] = "CanvasBot";
}

<div class="dropdown-menu"> <!-- Mobile version nav bar - hamburger menu -->
<!-- Add tabs in hamburger menu: "support, contact etc" -->
    </div>
<div class="myDiv container m-0 p-0">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h6>The bridge between the educational platform Canvas and Discord </h6>
    <div class="container">
        <div class="row justify-content-center">
            <row>
                <h6>Get starting using Discord</h6>
                <button type="button" class="btn btn-primary">Add to Discord</button>
                </row>
                <row>
                <h6>For feedback and support</h6>
                <button type="button" class="btn btn-secondary">Join our server</button>
            </row>
            
            
        </div>
</div>
</div>
<div class="p-4 mb-2 bg-white text-success">
<div class="text-center">
    <h3>Why CanvasBot</h3>

</div>
</div>
        
