@page
@model IndexModel
@{
    ViewData["Title"] = "CanvasBot";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="container">
        <div class="row justify-content-center">
            <row>
                <button type="button" class="btn btn-primary">Add to server</button>
                <button type="button" class="btn btn-secondary">Join our server</button>
            </row>
            
        </div>
    </div>
</div>
