@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="test">Test</div>
        </div>
    </div>
</div>
