@page
@model IndexModel
@{
    ViewData["Title"] = "CanvasBot";
}

<div class="dropdown-menu"> <!-- Mobile version nav bar - hamburger menu -->
<!-- Add tabs in hamburger menu: "support, contact etc" -->
    </div>
<div class="container-fluid bg-white">
    <div class="text-center"> 
        <div class="help-block pt-5">
        </div>
        <h1 class="display-4 pt-5">@ViewData["Title"]</h1>

        <h5 class="pt-2">The bridge between the educational platform Canvas and Discord </h5>
        <div class="container">
            <div class="row justify-content-center ">
                <row class="pb-2 pt-2">
                    <h6 class="pt-3">Get starting using Discord</h6>
                    <button type="button" class="btn btn-lg btn-primary">Add to Discord</button>
                </row>
                <row class="pt-2 pb-5">
                    <h6>For feedback and support</h6>
                    <button type="button" class="btn btn-lg btn-secondary">Join our server</button>
                </row>
            </div>
            <div class="help-block pb-5 mb-5">
            </div>        
        </div>        
    </div>
    </div>
</div>

<!-- Why CanvasBot container --> 
<div class="container bg-white">
    <div class="text-center">
        <h2 class="mb-5 pb-2">Why CanvasBot?</h2>
        <!--Information layout container for sm and under -->
        <div class="container d-md-none">
            <div class="row">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas, sapien a ornare efficitur, neque nulla bibendum elit, eu mattis.</p>
            </div>
            <div class="row">
                <img class="mb-5" src="https://www.skogaholm.se/siteassets/sortiment/lantbrod/lantbrod-med-havssalt/690x390-lantbrod-havssalt.png" class="img-fluid" alt="lol">
            </div>
            <div class="row">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut auctor ligula. Vivamus accumsan nisl sed ante luctus malesuada. Integer.</p>
            </div>
            <div class="row">
                <img class="mb-5" src="https://www.skogaholm.se/siteassets/sortiment/lantbrod/lantbrod-med-havssalt/690x390-lantbrod-havssalt.png" class="img-fluid" alt="lol">
            </div>
        </div>


        <!-- Information layout container for md and over -->
        <div class="container d-none d-md-block">
        <div class="row mb-5">
            <div class="col p-4">
                    <h4 class="p-2 pt-4">Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas, sapien a ornare efficitur, neque nulla bibendum elit, eu mattis.</p>
            </div>
            <div class="col"> 
                <!-- Picture of bread is just to fill space meanwhile before replacing with relevant ones -->
                <img src="https://www.skogaholm.se/siteassets/sortiment/lantbrod/lantbrod-med-havssalt/690x390-lantbrod-havssalt.png" class="img-fluid" alt="lol">
            </div>
        </div>
        <div class="help-block p-5 mb-5">
        </div>
        <div class="row mt-5 mb-5">
            <div class="col">
                <img src="https://www.skogaholm.se/siteassets/sortiment/lantbrod/lantbrod-med-havssalt/690x390-lantbrod-havssalt.png" class="img-fluid" alt="lol">
            </div>
            <div class="col p-4">
                <h4 class="p-2">Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut auctor ligula. Vivamus accumsan nisl sed ante luctus malesuada. Integer.</p>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- Stay updated container -->
<div class="container-fluid bg-warning p-5">
    <div class="text-center">
        <h2 class="pb-3">Stay updated</h2>
        <button type="button" class="btn btn-lg btn-primary">Add to Discord</button>
    </div>
</div>

<!-- The Team container breakpoint md and under -->
<div class="container d-lg-none">
    <div class="text-center">
        <h1 class="pt-3 mt-3 mb-5">The Team</h1>    
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
        </div>
        <div class="col-6">
            <h5>Name</h5>
            <p class="mb-0">Developer</p>
            <a href="https://github.com/">GitHub</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
        </div>
        <div class="col-6">
            <h5>Name</h5>
            <p class="mb-0 dev-size">Developer</p>
            <a class="dev-size href="https://github.com/">GitHub</a>
        </div>
    </div>
        <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
        </div>
        <div class="col-6">
            <h5>Name</h5>
            <p class="mb-0 dev-size">Developer</p>
            <a class="dev-size href="https://github.com/">GitHub</a>
        </div>
    </div>
        <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
        </div>
        <div class="col-6">
            <h5>Name</h5>
            <p class="mb-0 dev-size">Developer</p>
            <a class="dev-size href="https://github.com/">GitHub</a>
        </div>
    </div>
</div>

<!-- The Team container breakpoint lg and over -->
<div class="container d-none d-lg-block">
    <div class="text-center">
        <h1 class="pt-3 mt-5 mb-5">The Team</h1>    
    </div>
  <div class="row justify-content-center">
    <div class="col-4">
        <div class="container">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
            <div class="container">
                <h5>Name</h5>
                <p class="fs-5">Developer</p>
                <a href="https://github.com/">GitHub</a>
                <a href="https://linkedin.com">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="container">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
            <div class="container">
                <h5>Name</h5>
                <p class="fs-5">Developer</p>
                <a href="https://github.com/">GitHub</a>
                <a href="https://linkedin.com">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
    <div class="col-4">
        <div class="container">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
            <div class="container">
                <h5>Name</h5>
                <p class="fs-5">Developer</p>
                <a href="https://github.com/">GitHub</a>
                <a href="https://linkedin.com">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="container">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
            <div class="container">
                <h5>Name</h5>
                <p class="fs-5">Developer</p>
                <a href="https://github.com/">GitHub</a>
                <a href="https://linkedin.com">LinkedIn</a>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
    </div>
</div>

