@page
@model IndexModel
@{
    ViewData["Title"] = "CanvasBot";
}

<div class="dropdown-menu"> <!-- Mobile version nav bar - hamburger menu -->
<!-- Add tabs in hamburger menu: "support, contact etc" -->
    </div>
<div class="myDiv container m-0 p-0">
<div class="text-center"> 
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h6>The bridge between the educational platform Canvas and Discord </h6>
    <div class="container">
        <div class="row justify-content-center ">
            <row class="pb-2 pt-2">
                <h6>Get starting using Discord</h6>
                <button type="button" class="btn btn-primary">Add to Discord</button>
            </row>
            <row class="pt-2">
                <h6>For feedback and support</h6>
                <button type="button" class="btn btn-secondary">Join our server</button>
            </row>
            <row>
                <!-- Picture of bread is just to fill space meanwhile before replacing with relevant ones -->
                <img src="https://www.skogaholm.se/siteassets/sortiment/lantbrod/lantbrod-med-havssalt/690x390-lantbrod-havssalt.png" class="img-fluid" alt="lol">
            </row>

            
            
        </div>
</div>        
</div>
</div>


<div class="p-3 mb-3 bg-secondary text-white">
    <div class="text-center">
        <h3>Why CanvasBot</h3>
    </div>
</div>
        
<div class="container p-4 m-1">
    <div class="text-center">
        <h2>Why CanvasBot?</h2>
        <ul class="p-2">Keeps you updated</ul>
        <img src="https://www.skogaholm.se/siteassets/sortiment/lantbrod/lantbrod-med-havssalt/690x390-lantbrod-havssalt.png" class="img-fluid" alt="lol">
        <ul class="p-2">Easy commands</ul>
        <img src="https://www.skogaholm.se/siteassets/sortiment/lantbrod/lantbrod-med-havssalt/690x390-lantbrod-havssalt.png" class="img-fluid" alt="lol">
    </div>
</div>

</div>
<div class="container bg-secondary">
    <div class="text-center">
        <h2>Stay updated</h2>
        <button type="button" class="btn btn-primary">Add to Discord</button>
    </div>
</div>


<div class="container">
    <div class="text-center">
        <h1 class="pt-3 mt-3 mb-5">The Team</h1>    
    </div>
    <div class="row">
        <div class="col">
            lol
        </div>
        <div class="col-4">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
        </div>
        <div class="col-6">
            <h5>Example</h5>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            lol
        </div>
        <div class="col-4">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/001/209/957/small_2x/square.png" class="img-fluid" alt="lol">
        </div>
        <div class="col-6">
            <h5>Example2</h5>
        </div>
    </div>
</div>